.inputField {
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}