.PageAbout {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.H1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: center;
}

.Spisok {
    display: flex;
    justify-content: center;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campus-photo {
    /*prikol*/
}

.format {
    display: flex;
    justify-content: start;
}

.li {
    width: 450px;
    margin-bottom: 10px;
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"]:focus {
    border-color: #333;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.key {
    font-weight: bold;
}

.value {
    flex-grow: 1;
}

.campusPhotoImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .Spisok {
        display: flex;
        justify-content: center;
    }
}