body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ababab;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
}

.login-form form {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 300px; 
  margin-top: 20px; 
}

.login-form form input {
  width: 80%; 
  margin-bottom: 10px; 
}

.login-form form button {
  margin-bottom: 20px; 
}
